* {
  box-sizing: border-box;
}

body {
  background-color: #f8f9fd;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0 20px;
}

.container {
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 380px;
  background-color: #ffffff;
}
.title {
  margin: 0;
  font-size: 20px;
  letter-spacing: 0.1rem;
}
.subtitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.8;
  font-size: 14px;
  letter-spacing: 0.04rem;
  color: #282828da;
}
.header {
  background: hsla(33, 100%, 53%, 1);
  background: linear-gradient(
    120deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );
  background: -moz-linear-gradient(
    120deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );
  background: -webkit-linear-gradient(
    120deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );
  border-radius: 0 0 20px 20px;
  color: #282828;
  padding: 30px 20px;
}
.header input {
  background: rgba(255, 255, 255, 0.307);
  border-radius: 5px;
  border: 0;
  color: #282828;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
  letter-spacing: 0.05rem;
}
.header input::placeholder {
  color: #28282874;
}
.header input:focus {
  outline: none;
}
.user-list {
  background-color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 450px;
  overflow-y: auto;
}
.user-list li {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 10px 10px 20px;
}
.user-list img {
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}
.user-list .user-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.user-list .user-info h4 {
  margin: 0;
}
.user-list .user-info p {
  margin: 0.6rem 0;
  font-size: 12px;
}
.user-list li.hide {
  display: none;
}
