body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 0 1rem;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.1rem;

}
#display{
  text-align: center;
}
.gradient-form {
  padding: 20px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}
.gradient-form div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  height: 60px;
}
.gradient-form input[type="number"] {
  width: 60px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  text-align: center;
}
.gradient-form input[type="color"] {
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer; 
}
#generate-button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}


