body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282828;
  margin: 0;
}

.loader {
  display: flex;
  gap: 0.8rem;
}

.circle {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: bounce 0.7s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}