@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282828;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 100px;
}

.box{
  position: relative;
  height: 250px;
  aspect-ratio: 1 / 1;
  border: 2px dashed #FFFFFF;
  border-radius: 12px;
  margin: 0 20px;
  padding: 10px;
}
.box .image{
  height: 100%;
  width: 100%;
  border-radius: 12px;
  background-image:  url(logo-tcl.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

